coran:
	eyes_x: 13
	eyes_y: 10
	butt_y: 33

human:
	eyes_x: 13
	eyes_y: 10
	butt_y: 33

dwarf:
	eyes_x: 13
	eyes_y: 13
	butt_y: 33

elf:
	eyes_x: 13
	eyes_y: 10
	butt_y: 33

sanak:
	eyes_x: 13
	eyes_y: 10
	butt_y: 33

fairy:
	eyes_x: 13
	eyes_y: 10
	butt_y: 33

eyes:
	width: 14
	height: 8

size:
	width: 40
	height: 40

margin:
	top: 4
	bottom: 0
	left: 9
	right: 9

path: "resource/images/sprites/characters/"

flags: SDL_HWSURFACE
