box:
	background: "resource/borders/ccm_background.png"
	select: "resource/borders/ccm_select.png"
	light: "resource/borders/ccm_light.png"
	unlight: "resource/borders/ccm_unlight.png"
	rm_background: "resource/borders/rm_background.png"
	rm_select: "resource/borders/rm_select.png"
	name: "resource/borders/ccm_name.png"
	confirm_select: "resource/borders/ccm_confirm_select.png"
	confirm: "resource/borders/ccm_confirm.png"

dimension:
	margin: 20
	height_box: 40
	width_box: 290
	race_height: 260
	race_width: 370
