title_screen:
	type: "resource/fonts/alagard.ttf"
	size: 40

main_menu:
	type: "resource/fonts/alagard.ttf"
	size: 32

character_creation:
	type: "resource/fonts/alagard.ttf"
	size: 32

race_menu:
	description_type: "resource/fonts/alagard.ttf"
	description_size: 19

item_exchange:
	container_name_type: "resource/fonts/octavius.ttf"
	copper_type: "resource/fonts/octavius.ttf"
	items_type: "resource/fonts/alagard.ttf"
	items_size: 15

item_preview:
	name_type: "resource/fonts/alagard.ttf"
	name_size: 15

menu_default:
	entry_size: 10
	entry_type: "resource/fonts/octavius.ttf"
