armor_bag:
	max_size: 15

item_bag:
	max_size: 10

potion:
	default_weight: 1
	flags: SDL_HWSURFACE | SDL_SRCALPHA
	path: "resource/items/potions/"

book:
	default_weight: 1
	default_value: 0
	flags: SDL_HWSURFACE | SDL_SRCALPHA
	path: "resource/items/books/"

armor:
	flags: SDL_HWSURFACE | SDL_SRCALPHA
	path: "resource/items/armors/"

weapon:
	flags: SDL_HWSURFACE | SDL_SRCALPHA
	path: "resource/items/weapons/"

misc:
	flags: SDL_HWSURFACE | SDL_SRCALPHA
	path: "resource/items/miscs/"
