scrollbar:
	item_exchange_width: 15

tabs_preview:
	item_exchange_height: 20
	separation_width: 1
	icon_height: 12
	icon_width: 12
	icon_path: "resource/images/menu/tab_previews/tab_preview_"
	selection_width: 2

tab_content:
	default_entry_height: 30
	item_exchange_entry_height: 25
	item_exchange_entry_padding: 1
	selection_width: 10

header:
	item_exchange_height: 50
	margin: 5

item_preview:
	borders_width: 6
	borders_radius: 10
	width: 140
	height: 100
	margin: 30

default:
	padding: 2

colors:
	depth: 32
	borders_r: 52
	borders_g: 172
	borders_b: 35
	background_r: 10
	background_g: 10
	background_b: 10
	font_r: 200
	font_g: 200
	font_b: 200
	selection_r: 35
	selection_g: 182
	selection_b: 163

borders:
	width: 6
	radius: 10

container:
	separation_width: 1

flags: SDL_HWSURFACE | SDL_SRCALPHA
